<div class="d-flex justify-content-center align-items-center vh-40">
    <div class="card w-75 mx-auto" style="max-width: 600px;">
        <div class="card-body">
            <h2 class="card-title job-title">{{name}}</h2>
            <div class="pet-info">
                <span class="pet-name">{{name}}</span>
                <span class="pet-type">({{pet_type}})</span>
            </div>
            <p class="card-text job-status">Age: {{age}}</p>
            <p class="card-text job-description">Special Needs: {{special_needs}}</p>
            <div class="job-details">
            </div>
        </div>
    </div>
</div>